@page
@model BED_handin3_Identity.Pages.Reception.ReceptionModel
@{
	ViewData["Title"] = "Reception";
}
<h1>@ViewData["Title"]</h1>

<div>
	<div>
		<p>Specify how many guests booked breakfast</p>
		
		<form  asp-page-handler="Date">
			<label >Date:</label>
			<input type="date" asp-for="ReceptionDate" onchange="this.form.submit()"> <br><br>
		</form>

		<form asp-page-handler="Reception">
			<input type="hidden" asp-for="ReceptionDate" />

			<label>Adults</label>
			<input asp-for="Adults"/> <br><br>

			<label>Children</label>
			<input asp-for="Children"/> <br><br>

			<label>RoomNumber</label>
			<select asp-for="RoomNumber" asp-items="@Model.SelectRooms">
				<option value="" disabled selected>Choose Room</option>
			</select>

			<input type="submit" value="Book Guests">
		</form>
		
		<br><br>
	</div>
	
	
</div>

<div>
	<p>Current list of guests staying at the hotel, who has been checked in for breakfast</p>
		
	<table class="table w-auto">
		<tr>
			<th>Room Number</th>
			<th>Number of Adults</th>
			<th>Number of Children</th>
		</tr>
		@foreach (var room in Model.RoomList)
		{
			<tr>
				<td>@room.RoomNumber</td>
				<td>@Model.GuestList.Where(b => b.IsAdult && room.RoomNumber == b.RoomId).ToList().Count</td>
				<td>@Model.GuestList.Where(b => !b.IsAdult && room.RoomNumber == b.RoomId).ToList().Count</td>
			</tr>
		}
	</table>

</div>