@page
@model BED_handin3_Identity.Pages.Restaurant.RestaurantModel
@{
	ViewData["Title"] = "Restaurant";
}
<h1>@ViewData["Title"]</h1>

<h3>Check in guests for breakfast here:</h3>

<div>
	<form method="post" asp-page-handler="Room">
		<label>RoomNumber</label>
		<select asp-for="@Model.SelectedRoomNumber" asp-items="@Model.SelectRooms" onchange="this.form.submit()">
			<option value="" disabled selected>Choose Room</option>
		</select>
		<br><br>
	</form>
</div>
<div>
	<form method="post" asp-page-handler="Checkin">
		<input type="hidden" asp-for="@Model.SelectedRoomNumber" value="@Model.SelectedRoomNumber" />
		<label>Adults</label>
		<select asp-for="@Model.Adults">
			@for (int i = 0; i < Model.BreakfastBooking.Guests.Where(g => g.IsAdult && !g.IsCheckedIn).ToList().Count + 1; i++)
			{
				<option>@i</option>
			}
		</select>
		<br><br>

		<label>Children</label>
		<select asp-for="@Model.Children">
			@for (int i = 0; i < Model.BreakfastBooking.Guests.Where(g => !g.IsAdult && !g.IsCheckedIn).ToList().Count + 1; i++)
			{
				<option>@i</option>
			}
		</select>
		<br><br>
		<input type="submit" value="Checkin Guests">
	</form>
</div>
