@page
@model BED_handin3_Identity.Pages.Kitchen.KitchenModel
@{
	ViewData["Title"] = "Kitchen";
}
<h1>@ViewData["Title"]</h1>

<h2>Choose a date to show information</h2>

<br/>

<form method="post">
	<label>Choose Date:</label>
	<input asp-for="ChosenDate" type="date" id="infoDate">
	<input type="submit" value="See Guests">
</form>

<br/>

<div>
	<h3>Number of Guests expected for breakfast</h3>
		
	<table class="table w-auto"> 
		<tr>
			<th>Total number of Guests</th>
			<th>Number of Adults</th>
			<th>Number of Children</th>
		</tr>
		
			<tr>
				<td>@Model.GuestList.Count()</td>
				<td>@Model.GuestList.Where(b => b.IsAdult).ToList().Count</td>
				<td>@Model.GuestList.Where(b => !b.IsAdult).ToList().Count</td>
			</tr>
		
	</table>

</div>

<br/>

<div>
	<h3>Number of Guests checked in for breakfast</h3>
		
	<table class="table w-auto">
		<tr>
			<th>Total number of Guests</th>
			<th>Number of Adults</th>
			<th>Number of Children</th>
		</tr>
		
			<tr>
				<td>@Model.GuestList.Where(b => b.IsCheckedIn).ToList().Count()</td>
				<td>@Model.GuestList.Where(b => b.IsAdult && b.IsCheckedIn).ToList().Count</td>
				<td>@Model.GuestList.Where(b => !b.IsAdult && b.IsCheckedIn).ToList().Count</td>
			</tr>
		
	</table>

</div>

<br/>

<div>
	<h3>Number of Guests not checked in for breakfast</h3>
		
	<table class="table w-auto">
		<tr>
			<th>Total number of Guests</th>
			<th>Number of Adults</th>
			<th>Number of Children</th>
		</tr>
		
			<tr>
				<td>@Model.GuestList.Where(b => !b.IsCheckedIn).ToList().Count()</td>
				<td>@Model.GuestList.Where(b => b.IsAdult && !b.IsCheckedIn).ToList().Count</td>
				<td>@Model.GuestList.Where(b => !b.IsAdult && !b.IsCheckedIn).ToList().Count</td>
			</tr>
		
	</table>

</div>

@section Scripts
{
	<script src="https://unpkg.com/@@microsoft/signalr@@5.0.12/dist/browser/signalr.js" crossorigin="anonymous"></script> 
	<script>
		const connection = new signalR.HubConnectionBuilder().withUrl("/UpdaterHub").build();
		connection.on("UpdatePage",
			function(message) {
				window.location.reload()
			});
		connection.start();
	</script>
}


